/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #7f06dc;
    color: #333;
    margin: 20px;
    line-height: 1.6;
}

/* Tutorial Styles */
#tutorial {
    
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    max-width: fit-content;
    animation: fadeInAnimation ease 1.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}

#tutorial img {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 5px;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#label {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

#search {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#search:focus {
    border-color: #8f00ff;
    outline: none;
}

#elementList {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

#elementList li {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: #ac42ff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
    box-shadow: 0 4px 6px rgba(255, 215, 0, 0.4); /* Gelblicher Schatten */
}

#elementList li:hover {
    background-color: #8f00ff;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(255, 215, 0, 0.6); /* Intensiverer Schatten bei Hover */
}


/* Result Boxes */
#result, #compareResult {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 215, 0, 0.5); /* Gelblicher Schatten */
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

#result.active, #compareResult.active {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 6px 10px rgba(255, 215, 0, 0.7); /* Intensiverer Schatten bei Aktivierung */
}


#result h2, #compareResult h3 {
    color: #333;
    font-size: 1.5rem;
    margin: 10px 0px;
}

/* Buttons */
button {
    display: block;
    background-color: #7400a6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43025f;
}

/* Image Links */
a img {
    transition: transform 0.5s ease;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
}

a:hover img {
    transform: rotate(360deg);
}

/* Animations */
.element {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 950px) {
    body {
        margin: 0;
        padding: 0;
    }

    #result, #compareResult {
        width: 90%;
        padding: 15px;
        font-size: 1rem;
    }

    #search {
        width: 80%;
        font-size: 14px;
    }

    #elementList li {
        font-size: 0.9rem;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    a img {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 900px) and (max-width: 1370px) {
    h1 {
        font-size: 2rem;
    }

    #result, #compareResult {
        width: 75%;
        padding: 20px;
    }

    #search {
        width: 70%;
        font-size: 1.2rem;
    }

    #elementList li {
        font-size: 1.2rem;
        padding: 12px;
    }

    button {
        width: 20%;
        padding: 10px;
    }
}

